---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:1 %}
  {% unless post.draft %}
  <div class="post">
    <h1>
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% include post_tagline.html post=post %}
    <div>
    {{ post.excerpt }}
    {% if post.excerpt != post.content %}
    <div class="more">
      <a href="{{ post.url }}">READ THE FULL POST</a>
    </div>
    {% endif %}
    </div>
  </div>
  {% endunless %}
  {% endfor %}
</div>

<table>
  <tr>
    <td>
      <div class="side">
        <h1>Github</h1>
        <ul class="recent_posts">
          {% for post in paginator.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </td>
    <td>
      <div class="older_posts clearfix">
        <h1>Older Posts</h1>
        <ul class="recent_posts">
          {% for post in paginator.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </td>
  </tr>
</table>


<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>

{% include disqus_thread.html %}

